<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>

<body>
    {% include "header.html" %}
    <h1>Change Password</h1>
    {% for message in get_flashed_messages() %}
    <div class="error">
        <h5> {{ message }} </h5>
    </div>
    {% endfor %}
    <form action="/changepassword" method="POST">
        <div>
            Old password
        </div>
        <input type="password" name="oldpassword"></input>
        <div>
            New Password
        </div>
        <input type="password" name="newpassword1"></input>
        <div>
            Retype New Password
        </div>
        <input type="password" name="newpassword2"></input>
        <div>
            <input type="submit" value="Confirm" />
        </div>
    </form>
</body>

{% include "footer.html" %}

</html>